<header>
  <nav class ="navbar navbar-expand-md navbar-dark bg-dark">
  <div><a href="https://www.javainuse.com" class="navbar-brand">JavaInUse</a></div>
  
  <ul class="navbar-nav">
    <li><a  routerLink="/" class="nav-link">View Employees</a></li>
    <li><a  routerLink="/addemployee" class="nav-link">Add New Employee</a></li>
  
  </ul>
  
  <!-- <ul class="navbar-nav navbar-collapse justify-content-end">
      <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="navbar-link">Login</a></li>
      <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="navbar-link">LogOut</a></li>
    
    </ul> -->
    </nav>
  
  </header>